/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom site styles */
/* 
  Using Major Third Modular Scale: 
  http://www.modularscale.com/?20&%20px&1.25&web&text
*/

body {
  color: #334431;
  font-family: "camingodos-web", Trebuchet, Verdana, Helvetica, sans-serif;
  font-size: 1.2em; /* 19.2px / 16px */
  line-height: 1.44em; /* 28.8px / 20px */
  padding-top: 1.44em; /* 28.8px / 20px */
  padding-left: 1.2em; /* 5:6 */
  padding-right: 0.6em; /* 1/2 ratio */
  padding-bottom: 1.44em; /* 28.8px / 20px */
  text-size-adjust: 100%;
}

p {
  padding-bottom: 1.44em; /* 28.8px / 20px */
}

h1 {
  color: #e05038;
  font-family: "camingodos-web", Trebuchet, Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.728em; /* 34.56px / 20px */
  line-height: 1.6666666666667em; /* 28.8px * 2 / 34.56px */
  padding-top: 0.8888888888883em; /* 28.8px / 34.56px */
  padding-bottom: 0em; /* Closer */
  text-size-adjust: 100%;
}

h2 {
  color: #e05038;
  font-family: "camingodos-web", Trebuchet, Verdana, Helvetica, sans-serif;
  font-size: 1.2em; /* 24px / 20px */
  line-height: 1.44em; /* 28.8px / 20px */
  padding-top: 0em; /* Closer */
  padding-bottom: 1.44em; /* 28.8px / 20px */
  text-size-adjust: 100%;
}

h3 {
  color: #e05038;
  font-family: "camingodos-web", Trebuchet, Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.44em; /* 28.8px / 20px */
  line-height: 1.728em; /* 34.56px / 20px */
  padding-top: 0.864em; /* 1.728em / 2 */
  text-size-adjust: 100%;
}

h4 {
  color: #e05038;
  font-family: "camingodos-web", Trebuchet, Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.44em; /* 28.8px / 20px */
  line-height: 1.728em; /* 34.56px / 20px */
  padding-top: 0em; /* Closer */
  text-size-adjust: 100%;
}

/* unvisited link */
a:link {
    color: #e05038;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #963019;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #f2cbbc;
    text-decoration: underline
}

/* selected link */
a:active {
    color: #e05038;
    text-decoration: underline
}
